*{
    margin: 0;
    padding: 0;
    color: #242424;
}

.boxLoginUser{
    margin-top: 50px;
}

.UbuttonLoginUser{
    background-color: #E4E7ED;
    border: 0;
    width: 200px;
    height: 102px;
    font-size: 32px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    left: 530px;
    top: 3px;

}

.UbuttonLoginAuthor{
    background-color: #787E91;
    border: 0;
    width: 200px;
    height: 102px;
    font-size: 32px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    left: 1100px;
    cursor: pointer;
}

.containerLoginUser{
    background-color: #E4E7ED;
    width: 1071px;
    height: 600px;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;

}

.loginH2{
    font-size: 40px;
    font-weight: normal;
    padding-top: 50px;
}